*.log
*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/bsp/bsp.h.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/bsp/bsp.c.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/clk/plib_clk.c.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/clk/plib_clk.h.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/ddr/plib_ddr.c.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/ddr/plib_ddr - Copy.c
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/ddr/plib_ddr - Copy.h
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/gpio/plib_gpio.c.bak
/apps/aria_image_viewer/firmware/src/config/glcd_gpu_rgba8888_mxt_mzda_sk/peripheral/gpio/plib_gpio.h.bak
